## Project - DANGER Sales Record

The cashier of DANGER restaurant stores all the sales he received in a database.  

He kept track on the name, sales amount, food eaten and the date of every customer.

However, one day the database broken, and the string below is the only thing that he was able to recover.  

Let's turn it into a more usable data format!

1. Run below code first to save the record into variable named `daily_sales`

In [ ]:
daily_sales = '''
Jaime Buchanan   ;,;$1.2   ;,;   egg ;,; \n25/04/2020   ,
Herbert Tran   ;,;   $7.2;,; \negg&ham;,;   25/04/2020 ,
Paul Clarke ;,;$12.5 \n;,;   egg&ham ;,;  25/04/2020 ,

Lucille Caldwell   \n;,;   $5.1   ;,; egg   ;,; 25/04/2020,\nEduardo George
;,;$20.3;,; egg&sausage \n;,;25/04/2020   ,   Danny Mclaughlin;,;$30.8;,;
\nmilk ;,;25/04/2020 ,Stacy Vargas;,; $1.8   ;,; \nmilk&sausage ;,;25/04/2020,
Shaun Brock;,; \n$17.9;,;milk&sausage ;,; 25/04/2020 , \nErick Harper ;,;$17.4;,;
ham ;,; 25/04/2020, \nMichelle Howell ;,;$28.5;,; ham;,;   25/04/2020
, \nCarroll Boyd;,; $14.5;,;   milk&ham   ;,;   \n25/04/2020   , Teresa Carter
;,; $19.6 ;,; \negg;,;25/04/2020   ,   Jacob Kennedy ;,; $11.4   \n;,; egg&vegetable
;,; 25/04/2020, Craig Chambers;,; \n$8.7 ;,; egg&ham&vegetable   ;,;25/04/2020
, Peggy Bell;,; $8.6 ;,;ham   ;,; 25/04/2020,   Kenneth Cunningham ;,;   $10.5;,;
tea&ham   ;,; \n25/04/2020   ,   Marvin Morgan;,;   $16.4;,; \ntea&ham&vegetable
;,;   25/04/2020 ,Herbert Tran \n;,; $6.5 ;,;   tea&ham&vegetable;,;
25/04/2020 ,\nIsrael Cummings;,;   $11.8   ;,;beans;,;  \n25/04/2020,   June Doyle
;,;   $22.2 ;,;  \nbeans&sausage ;,;25/04/2020 , Jaime Buchanan   ;,;   \n$8.3;,;
egg&beans&sausage   ;,;   25/04/2020,   \nRhonda Farmer;,;$2.9 ;,;   egg&beans&sausage
\n;,;25/04/2020, Darren Mckenzie ;,;$22.9;,;tea \n;,;25/04/2020,Rufus Malone;,;$4.7
;,; tea&sausage \n;,; 25/04/2020   ,Hubert Miles;,;   $3.5   \n;,;tea&sausage&ham;,;
25/04/2020   , Joseph Bridges  ;,;$5.6   ;,; tea&sausage&milk&ham \n;,;   25/04/2020 ,
Ernesto Hunt   ;,;$17.5   ;,;   \nbeans   ;,;   25/04/2020 , Audrey Ferguson ;,; \n$5.5;,;
beans&ham   ;,;25/04/2020 ,Edna Williams ;,; \n$17.1;,; beans&ham;,;   25/04/2020,
Randy Fleming;,;   $21.1 ;,;beans ;,;25/04/2020 ,Elisa Hart;,; $0.3   ;,; beans&milk;,;
25/04/2020   ,\nErnesto Hunt ;,; $13.91   ;,;   beans&milk ;,;   \n25/04/2020,
Shannon Chavez   ;,;$19.2   ;,; \nsausage;,; 25/04/2020   , Sammy Cain;,; $5.4;,;
\nsausage&vegetable ;,;25/04/2020 ,   Steven Reeves ;,;$5.5   \n;,;   sausage;,;
25/04/2020, Ruben Jones   ;,; \n$14.5 ;,;   sausage&ham;,;25/04/2020 , Gail Phelps;,;
$7.3   ;,;   sausage&ham&vegetable\n;,; 25/04/2020   ,   Rene Hardy   ;,; $20.2   ;,;
\nbeans ;,;   25/04/2020 ,   Lucy Snyder   ;,; $8.6   \n;,;beans&vegetable  ;,;
25/04/2020 ,Dallas Obrien ;,;   \n$8.3;,;   beans&vegetable ;,;   25/04/2020,
Stacey Payne \n;,;   $15.7   ;,;   egg&beans&vegetable ;,;25/04/2020   \n,   Tanya Cox
;,;   $6.7   ;,;sausage   ;,; \n25/04/2020 , Melody Moran ;,;   $30.8   \n;,;sausage&beans;,;
25/04/2020 , Kenneth Cunningham   ;,; \n$12.3 ;,; tea&sausage&beans;,;   25/04/2020 ,
\nRyan Webster;,;$2.9 ;,; sausage ;,; 25/04/2020 \n,Justin Blake ;,; $22.4   ;,;
egg&sausage ;,;   \n25/04/2020,   Beverly Baldwin ;,;   $6.6;,;   \negg&sausage&beans
;,;25/04/2020   ,   Dale Brady   \n;,;   $6.2 ;,; sausage   ;,;25/04/2020 ,Guadalupe Potter
;,;$21.1   ;,; sausage;,; 25/04/2020   , \nDesiree Butler ;,;$2.1   ;,;egg;,; 25/04/2020  \n,
Sonja Barnett ;,; $14.2 ;,;egg&beans;,;   \n25/04/2020, Angelica Garza;,;$11.6;,;egg&beans
\n;,;   25/04/2020   ,   Jamie Welch   ;,; $25.2   ;,; \negg&beans&vegetable ;,;25/04/2020   ,
Rex Hudson   \n;,;$8.2;,;   milk;,; 25/04/2020 ,   Nadine Gibbs \n;,;   $30.8 ;,;   milk&sausage
;,; 25/04/2020   , \nHannah Pratt;,;   $22.6   ;,;   milk&sausage   \n;,;25/04/2020,
Gayle Richards;,;$22.19 ;,; \ntea&milk&sausage ;,;25/04/2020   ,Stanley Holland \n;,;
$7.4   ;,; vegetable ;,; 25/04/2020 , Anna Dean;,;$5.4 ;,; sausage&vegetable ;,;   25/04/2020
,\nErnesto Hunt ;,;   $23.7  ;,;tea&sausage&vegetable \n;,; 25/04/2020 ,   Karl Ross
;,; $26.6 ;,; \nvegetable   ;,;25/04/2020 ,Guadalupe Freeman ;,; $25.9;,;
\ntea&vegetable ;,;   25/04/2020   ,Irving Patterson \n;,;$19.5 ;,; tea&egg&vegetable ;,;
25/04/2020 ,Karl Ross;,;   $15.6;,;   egg ;,;   25/04/2020 , Brandy Cortez ;,;$23.5;,;
egg&vegetable   ;,;25/04/2020, \nMamie Riley   ;,;$29.3;,; milk;,;25/04/2020 ,Mike Thornton
;,; $26.4 ;,;   milk   ;,; 25/04/2020, \nJamie Vaughn   ;,; $17.2;,;tea ;,; 25/04/2020
, \nNoah Day ;,;   $8.4   ;,;tea   ;,;25/04/2020   \n,Josephine Keller ;,;$13.1 ;,;tea;,;
25/04/2020 ,   Gail Phelps;,;$20.3 ;,; vegetable   ;,; 25/04/2020 ,\nIgnacio Parks;,;$14.7
;,; egg&vegetable ;,;25/04/2020 \n, Beatrice Newman ;,;$22.4   ;,;egg&milk&vegetable \n;,;
25/04/2020, Andre Norris   ;,;   $28.4   ;,;   \nvegetable;,;   25/04/2020 ,   Albert Lewis ;,;
$23.8;,;   \nbeans&vegetable;,; 25/04/2020,   Javier Bailey   ;,;   \n$24.4   ;,;
beans&vegetable ;,; 25/04/2020   , Everett Lyons ;,;$1.8;,;   beans&vegetable ;,; 25/04/2020 ,
\nAbraham Maxwell;,; $6.8   ;,;tea;,;   25/04/2020   \n,   Traci Craig ;,;$0.6;,; tea&sausage;,;
\n25/04/2020 , Jeffrey Jenkins   ;,;$26.4;,; \ntea&sausage&ham   ;,;   25/04/2020,
Merle Wilson \n;,;   $7.6 ;,; milk;,; 25/04/2020,Janis Franklin   \n;,;$8.7   ;,; milk&beans
;,;25/04/2020 ,  \nLeonard Guerrero ;,;   $1.8   ;,;sausage  \n;,;25/04/2020,Lana Sanchez;,;$14.7
;,; sausage;,;   \n25/04/2020   ,Donna Ball ;,; $28.1  ;,; \nsausage&ham;,;   25/04/2020   ,
Terrell Barber   ;,; \n$9.9   ;,; tea ;,;25/04/2020   ,Kenneth Cunningham;,; \n$16.3 ;,; tea ;,;
25/04/2020,   Daryl Herrera \n;,;$27.5;,; egg;,;   25/04/2020   , Miguel Mcguire;,;$5.2;,; egg&ham
;,;   25/04/2020 ,   \nRogelio Gonzalez;,; $9.5;,;   egg&beans&ham   \n;,;   25/04/2020   ,
Lora Hammond ;,;$20.5 ;,; \ntea;,;   25/04/2020,Owen Ward;,; $21.6   ;,;   \ntea&sausage;,;
25/04/2020,Malcolm Morales ;,;   \n$24.9   ;,;   tea&sausage&beans;,; 25/04/2020 ,   \nEric Mcdaniel
;,;$29.7;,; tea ;,; 25/04/2020 \n,Madeline Estrada;,;   $15.5;,;tea;,;   25/04/2020 \n, Leticia Manning
;,;$15.7 ;,; tea&milk;,; \n25/04/2020 ,   Mario Wallace ;,; $12.3 ;,;tea ;,; \n25/04/2020,Lewis Glover;,;
$13.6   ;,;   \ntea&egg;,;25/04/2020,   Gail Phelps   ;,;$30.5   \n;,; tea&egg&ham   ;,; 25/04/2020 ,
Myrtle Morris \n;,;   $22.6   ;,; tea&egg&ham;,;25/04/2020
'''

2. It looks like each transaction is separated from the next transaction by a comma(`,`) and then each piece of data within a transaction is separated by the artifact(`;,;`).

If we want to split up `daily_sales` into a list of individual transactions, we are going to want to split by comma(`,`) but first, we need to replace the artifact(`;,;`) to something without a comma(`,`), so we donâ€™t split any transactions themselves.

Replace all the instances of `;,;` in `daily_sales` with some other character (for example, `|` or `*` or `^`) and save the result to `daily_sales_replaced`.

In [ ]:
# Type your code below

3.  Now we can split the string into a list of each individual transaction.

Split `daily_sales_replaced` around commas and save it to a new list `daily_transactions`.

In [ ]:
# Type your code below

4.  Our next step is to split each individual transaction into a list of its data points.
    - First, define an empty list `daily_transactions_split`
    - Now, iterate through `daily_transactions` (remember, this is a list of strings currently), and for each transaction, split the string around whatever character you replaced the `;,;` artifacts with in Step 2.
    - Append each of these split strings (which are lists now) to our new list `daily_transactions_split`.

In [ ]:
# Type your code below

5. It looks like each data item has inconsistent whitespace around it. First, define an empty list `transactions_clean`.

Now, Iterate through `daily_transactions_split` and for each transaction iterate through the different data points and strip off any whitespace.

Add each of these cleaned up transactions to the new list `transactions_clean`.

In [ ]:
# Type your code below

6. The cashier wants to get a list of all customer.  Create a list of customer that do not have duplication.

How many are there?

In [ ]:
# Type your code below

7.  Now he want to know how much tips he get in the day.

Consider the list `sales`. It is a list of strings that we want to sum. In order for us to sum these values, we will have to remove the $, and set them equal to floats.

In [ ]:
# Type your code below